* { 
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto',sans-serif;
}

/* header style */
header{
    padding: 1em 13em;
    background-color: #1F2937; 
}

.navigation-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between
}

#logo{
    font-size: 24px;
    font-weight: 900;
    color:#f9faf8
}

.header-body{
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.header-body .left-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-body .image-placeholder{
    flex-shrink: 0;
    width: 50%;
}

.image-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

button {
    padding: 6px 24px;
    border-radius: 8px;
    margin-top:8px;
    width: 120px;
}

.sign-up-button{
    background: #3882f6;
    color: white;
    border: 1px solid #3882f6;
}

.navigation-bar ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em
}

.sub-text-header,
a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}


/* second section cards */

.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    padding: 2.5em;
    flex-wrap: wrap;
}

.sub-text{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.each-project {
    position: relative;
    margin: 3%;
}

.show {
    display: block;
}

.proj-description {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F8F8F8;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .4s, visibility .4s;
}

.each-project:hover .proj-description {
	visibility: visible;
	opacity: 0.9;
}

.proj-description:hover {
	opacity: 1;
}

.img-description {
	transition: .5s;
	color: #575757;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.img-description i, .img-description p, .img-description a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-weight: 100;
	line-height: 24px;
}

.img-description i {
	font-size: 12px;
}

.img-description:hover {
	opacity: 1;
}

/* Quote Section */

.quote-container {
    background-color: #e5e7eb;
    padding: 1em 13em;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    flex: wrap;
}

.quote-user {
    font-size: 24px;
    color: #1F2937;
    display: flex;
    justify-content: right;
    font-weight: bolder;
}

/* Call to action */

.cta-container{
    display: flex;
    justify-content: center;
}

.container-color{
    background-color: #3882f6;
    margin-top: 6em;
    margin-bottom: 6em;
    border-radius: 8px;
    padding: 3em;
    padding-left: 5.5em;
    padding-right: 5.5em;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.left-button-text{
    color: #e5e7eb;
}

.sign-up-2{
    background-color: #3882f6;
    color: #e5e7eb;
    border-color: #e5e7eb;
    border: 3px solid #e5e7eb;
}

.footer{
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
}
